<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">The Project</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <b><h1 class="presentation-subtitle" style="font-weight: bold;">PROJECT DESCRIPTION</h1></b>
                <h4 style="color:white;">
                    Company Inc. is an IT consulting company in downtown Toronto and is looking for a team that can create a modern website for them.
                    You are hired as the software freelance team, and your task is to deliver a website. 
                    <br><br>
                    As part of the process, you are going to create a prototype using Angular v.9 or any client-side scripting language of your choice.
                </h4>

                <h4 class="category-absolute ml-auto mr-auto">Team WolfPack</h4>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>