<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">About Us</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h1 class="presentation-subtitle">TEAM MEMBERS</h1>
                <br>
                <!-- <p class="presentation-subtitle h6"><app-time></app-time></p> -->
                <p class="presentation-subtitle h6">>> Amandeep Rathee</p>
                <p class="presentation-subtitle h6">>> Daniel Correia</p>
                <p class="presentation-subtitle h6">>> Fahad Ahmed Mohammed</p>
                <p class="presentation-subtitle h6">>> Pratik Goswami</p>
                <p class="presentation-subtitle h6">>> Rabjot Singh</p>
                <h4 class="category-absolute ml-auto mr-auto">Team WolfPack</h4>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>