<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Open Weather</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h1 class="presentation-subtitle">THE OPEN WEATHER API</h1>
                    <h3 style="color:white;">
                        OpenWeather platform is a set of elegant and widely recognisable APIs. 
                        Powered by convolutional machine learning solutions, it is capable of delivering all the weather 
                        information necessary for decision-making for any location on the globe. 
                    </h3>
                <h4 style="color:#CCD1D1 ">More info and documentation:</h4>
                <h5>
                    <a href="https://openweathermap.org/" target="_blank">openweathermap.org</a>
                </h5>
                
                <h4 class="category-absolute ml-auto mr-auto">Team WolfPack</h4>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>