<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Weather Web App</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle">DATE AND TIMEEEEEEE</h2>
                <p class="presentation-subtitle h6"><app-time></app-time></p>
                <h3 class="presentation-subtitle">WEATHER</h3>
                <p class="presentation-subtitle h6"><app-weather></app-weather></p>
                <h4 class="category-absolute ml-auto mr-auto">Team WolfPack</h4>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>