<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="">AML 3304 | Software Tools</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="project">
                        <i class="nc-icon nc-settings"></i>
                        <p class="d-lg-none">The Project</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/about-us">
                        <i class="nc-icon nc-badge"></i>
                        <p class="d-lg-none">About Us</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/open-weather-api">
                        <i class="nc-icon nc-sun-fog-29"></i>
                        <p class="d-lg-none">Open Weather Map API</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="GitHub" data-placement="bottom" href="https://github.com/danielsqc/weather_app" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-round" routerLinkActive="active" routerLink="">
                        HOME
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
